<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="  
       http://www.springframework.org/schema/beans  
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/context  
        http://www.springframework.org/schema/context/spring-context.xsd  
        http://www.springframework.org/schema/mvc  
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">


	<mvc:resources location="/files/" mapping="/files/**" />

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView"></property>
		<property name="prefix" value="/WEB-INF/pages/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<context:component-scan
		base-package="test.controllers" />


	<mvc:annotation-driven />

	<bean id="ds"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"
			value="com.mysql.cj.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/springpro" />
		<property name="username" value="root" />
		<property name="password" value="kiran@1727" />
	</bean>


	<bean id="jdbcTemplate"
		class="org.springframework.jdbc.core.JdbcTemplate">

		<property name="dataSource" ref="ds"></property>
	</bean>


	<bean id="dao" class="test.dao.ProjectDao">

		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- Max upload size in bytes -->
		<property name="maxUploadSize" value="10485760" /> <!-- 10MB -->
	</bean>

</beans>